{{ with secret "kv/data/grist-postgres" }}

TYPEORM_DATABASE={{.Data.data.DB}}
TYPEORM_USERNAME={{.Data.data.USER}}
TYPEORM_HOST=grist-postgres.{{ key "site/domain" }}
TYPEORM_PORT=5457
TYPEORM_LOGGING=false
TYPEORM_PASSWORD={{ .Data.data.PASSWORD }}
TYPEORM_TYPE= postgres
TYPEORM_EXTRA="{\"ssl\": {\"rejectUnauthorized\": true}}"
{{ end }}

APP_HOME_URL=https://grist.{{ key "site/domain" }}
GRIST_FORCE_LOGIN=true
DEBUG=1

{{ with secret "kv/data/grist" }}
GRIST_OIDC_SP_HOST=https://grist.{{ key "site/domain" }}
GRIST_OIDC_IDP_ISSUER = "https://kanidm.{{ key "site/domain"}}/oauth2/openid/{{.Data.data.OAUTH_CLIENT_ID }}"
GRIST_OIDC_IDP_CLIENT_SECRET = "{{.Data.data.OAUTH_CLIENT_SECRET }}"
GRIST_OIDC_IDP_CLIENT_ID = "{{.Data.data.OAUTH_CLIENT_ID }}"
SESSION_SECRET="{{.Data.data.SESSION_SECRET }}"
{{ end }}
GRIST_OIDC_IDP_SKIP_END_SESSION_ENDPOINT=true
