{{ with secret "kv/data/mathesar-postgres" }}
POSTGRES_USER={{.Data.data.USER}}
POSTGRES_PASSWORD={{ .Data.data.PASSWORD }}
POSTGRES_HOST=mathesar-postgres.{{ key "site/domain" }}
POSTGRES_PORT=5457
POSTGRES_DB={{.Data.data.DB}}?sslmode=require
{{ end }}

DOMAIN_NAME=http://mathesar.{{ key "site/domain"}}
{{ with secret "kv/data/mathesar" }}
SECRET_KEY="{{.Data.data.SECRET_KEY}}"
{{ end }}
ALLOWED_HOSTS=*

