
{{ with secret "kv/data/paperless-ngx-redis" }}
PAPERLESS_REDIS="rediss://:{{.Data.data.password}}@paperless-ngx-redis.{{ key "site/domain"}}:6379"
{{ end }}

{{with secret "kv/data/paperless-ngx-postgres"}}
PAPERLESS_DBPASS={{.Data.data.postgres_password }}

{{ end }}
