
{{ with secret "kv/data/timeline-postgres" }}
database_url="postgres://{{.Data.data.USER}}:{{ .Data.data.PASSWORD }}@timeline-postgres.{{ key "site/domain" }}:5457/{{.Data.data.DB}}?sslmode=verify-full"

{{ end }}

{{ with secret "kv/data/timeline" }}

[auth]
issuer_url = "https://kanidm.{{ key "site/domain"}}/oauth2/openid/{{.Data.data.OAUTH_CLIENT_ID }}"
redirect_url = "https://timeline.{{ key "site/domain" }}/oidc/login_auth"
client_secret = "{{.Data.data.OAUTH_CLIENT_SECRET }}"
client_id = "{{.Data.data.OAUTH_CLIENT_ID }}"
key = "{{.Data.data.KEY }}"

[[integration]]
type = "PaperlessNGX"
host = "https://paperless-ngx.{{ key "site/domain" }}"
username = "timeline"
token = "{{.Data.data.PAPERLESS_NGX_TOKEN }}"
{{ end }}

