[req]
req_extensions = v3_req
distinguished_name = dn
prompt = no

[dn]
CN = vault.local

[v3_req]
keyUsage = keyEncipherment, dataEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names

[alt_names]
DNS.1 = vault.$DOMAIN
DNS.2 = vault-0.$DOMAIN
DNS.3 = vault-0.$DOMAIN
DNS.4 = vault-0.$DOMAIN
DNS.5 = 192.168.102.100
DNS.6 = 192.168.102.101
DNS.7 = 192.168.102.102
